# see also https://github.com/whitequark/parser/blob/master/.github/workflows/test.yml
name: Rake

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby_version: [3.2, 3.3, "3.3.5"]
        gemfile:
          - Gemfile
          - gemfiles/Gemfile.rails-7.0
          - gemfiles/Gemfile.rails-7.1
          - gemfiles/Gemfile.rails-7.2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Build and test with Rake
        run: bundle exec rake
