<%
 # This is a typical form
 # Requires f
%>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :qty %><br />
  <%= f.text_field :qty %>
</div>
