ruby:
  # Fills the last column of the list with "buttons".
  # Requires row current_controller (supplied by Rails)
  url = if defined?(current_controller)
          "/#{current_controller}/#{row.id}"
        else
          url_for row
        end
  show = t('button.show')
  edit = t('button.edit')
  delete = t('button.delete')

= link_to image_tag('show.gif', alt: show, title: show), url
= link_to image_tag('plus.png', alt: edit, title: edit), "#{url}/edit"
= link_to image_tag('minus.png', alt: delete, title: delete), url,
  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
