ruby:
 # Template for RowsController (edit)
 # Requires resource model_name model_symbol
 #   partial 'form' template

 content_for(:submit_left) {
   link_to t('button.back').html_safe, "/#{controller_name}", class: 'button'
 }

fieldset class="wide mask" id=model_symbol
  legend = t('ui.editing', model: model_name).html_safe
  = render '/shared/error_explanation'

  - @multipart ||= false
  /"/#{controller_name}/update/#{@row.id}"
  = form_for resource,
      url: "/#{controller_name}/#{@row.id}",
      html: { multipart: @multipart } do |f|
    = render 'form', f: f
    = render '/rows/submit', right: %w[update OK]
