ruby:
  # Template for RowsController (show)
  # Requires resource model_name model_symbol
  #   partial 'form' template

  content_for(:submit_left) do
    link_to t('button.back').html_safe, url_for(action: :index), class: 'button'
  end
  content_for(:submit_right) do
    link_to t('button.edit').html_safe, url_for(action: :edit), class: 'button'
  end

fieldset.show class="wide mask" id=model_symbol
  legend = model_name
  = render '/shared/error_explanation'

  = form_with model: resource do |f|
    = render('form', f:)
    = render '/rows/submit'
